.lmj-categories {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.cart-categories {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 20px;
}

.cart {
	border-radius: 30px;
	padding: 10px 14px 10px 12px;
	cursor: pointer;
	background-color: #31b472;
}
