.lmj-plant-item-cover {
	height: 300px;
	width: 100%;
	border-radius: 20px;
	object-fit: cover;
}

.lmj-plant-item {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
}

.lmj-plant-item-price {
	position: absolute;
	border-radius: 20px 20px 20px 0;
	background-color: #31b472;
	color: white;
	padding: 15px;
	right: 0;
	top: 0;
	font-weight: 500;
}

.lmj-plant-item-elt {
	position: absolute;
	right: 0;
	top: 320px;
}

h2 {
	margin: 15px 0 0 0;
	cursor: pointer;
}